{% if OG_LOCALE %}
  {% set default_locale = OG_LOCALE %}
{% else %}
  {% set default_locale = 'en_US' %}
{% endif %}

{% if not article %}
<meta property="og:site_name" content="{{ SITENAME }}"/>
<meta property="og:type" content="blog"/>
<meta property="og:title" content="{{ SITENAME }}"/>
<meta property="og:description" content="{{ SITEDESCRIPTION }}"/>
<meta property="og:locale" content="{{ default_locale }}"/>
<meta property="og:url" content="{{ GITHUB_IO_URL }}{{ SITEURL }}"/>
{% if SITELOGO %}
<meta property="og:image" content="{{ GITHUB_IO_URL }}/{{ SITELOGO }}">
{% endif %}
{% else %}
{% include "partial/twitter.html" %}
{% endif %}
