{% if TWITTER_CARD %}
<meta name="twitter:site"    content="@{{ TWITTER_USERNAME }}">
<meta name="twitter:creator" content="@{{ AUTHOR }}">
<meta name="twitter:title"   content="{{ SITENAME }}">

    {% if article.summary %}
<meta name="twitter:description" content="{{ article.summary|striptags|escape }}"/>
    {% else %}
<meta name="twitter:description" content="{{ SITENAME }}">
    {% endif %}

    {% if TWITTER_IMG %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ TWITTER_IMG }}">
    {% endif %}
{% endif %}