{% if TWITTER_CARD %}
<meta name="twitter:site"    content="@{{ TWITTER_USERNAME }}">
<meta name="twitter:creator" content="@{{ AUTHOR }}">
{% if article.title %}
<meta name="twitter:title"   content="{{ article.title|striptags|escape }}">
{% else %}
<meta name="twitter:title"   content="{{ SITENAME }}">
{% endif %}

{% if article.summary %}
<meta name="twitter:description" content="{{ article.summary|striptags|escape }}"/>
{% else %}
<meta name="twitter:description" content="{{ SITENAME }}">
{% endif %}
{% endif %}